/* assets/main.css */
@import './animations.css';
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Add any additional global styles here */
@layer utilities {
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .animate-scroll {
    animation: scroll 30s linear infinite;
  }
}

@keyframes shimmer {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}


@layer components {
  .gradient-border {
    @apply p-[1px] rounded-lg bg-[linear-gradient(to_right,theme(colors.info-content),theme(colors.success-content))];
  }

  .gradient-border-inner {
    @apply rounded-lg;
  }

  .gradient-border-hover {
    @apply p-[1px] rounded-lg bg-transparent transition-all duration-300 ease-in-out hover:bg-[linear-gradient(to_right,theme(colors.info-content),theme(colors.success-content))];
  }

  .animated-gradient-border {
    @apply p-[3px] md:p-[5px] rounded-xl bg-[linear-gradient(90deg,theme(colors.success),theme(colors.info))] bg-[length:200%_200%];
    animation: shimmer 2s linear infinite;
  }

  .animated-gradient-border-hover {
    @apply p-[1.5px] rounded-lg hover:bg-[linear-gradient(90deg,theme(colors.success),theme(colors.info))] bg-[length:200%_200%];
    animation: shimmer 2s linear infinite;
  }
}
